[submodule "thedatascienceblog/themes/typo"]
	path = thedatascienceblog/themes/typo
	url = https://github.com/tomfran/typo.git
[submodule "thedatascienceblog/public"]
	path = thedatascienceblog/public
	url = https://github.com/NayeonKwonDS/NayeonKwonDS.github.io.git
	branch = main
